html {
    font-size: 62.5%;
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0;
    min-height: 100%;
}

html {
    font-family: 'Lato', sans-serif;
}

.top-cover {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 100px;
}

.lower-cover {
    background: #EFEEED;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
}

.third img {
    display: block;
    margin: 0 auto 20px;
}

.lower-cover .inner {
    margin: 0 auto;
    width: 1200px;
    display: inline;
    padding-top: 20px;
}

.inner .third {
    vertical-align: middle;
    width: 33%;
    display: table-cell;
}

.third .content {
    padding: 20px;
    font-size: 2rem;
}

.lower-cover ul {
    list-style: none;
}

.lower-cover li {
    position: absolute;
    width: 260px;
    margin-right: 2%;
    display: list-item;
    text-align: -webkit-match-parent;
}

.bottom-cover {
    background: url(../images/bg-footer.png) repeat-x top center #fff;
    text-align: center;
    min-height: 100px;
    padding-top: 25px;
}

.bottom-cover h1 {
    font-size: 46px;
    line-height: 100px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, serif;
}

.title {
    font-weight: bold;
    color: #FFFFFF;
    margin: 30px auto auto;
    text-align: center;
    background: rgba(61, 75, 91, 0.7);
    border-radius: 10px;
    max-width: 800px;
    padding: 10px 15px 50px;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

h2 {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

@media only screen
and (max-width : 480px) {
    .title {
        width: 300px;
        top: 60px;
        position: static;
        bottom: inherit;
        right: inherit;
        max-height: inherit;
        padding: inherit;
        margin: 0 auto;
        margin-top: 30px;
        display: block;
    }

    h1 {
        font-size: 3rem;
    }

    .subtitle {
        width: 300px;
    }

    input[type=text] {
        width: 100px;
    }

    .inner .third {
        width: 100%;
        display: inline-block;
    }

    button {
        margin-top: 10px;
    }
}

/* Landscape phone to portrait tablet */
@media only screen and (min-width : 480px) and (max-width: 767px) {

    .title {
        width: 480px;
        top: 60px;
        position: inherit;
        bottom: inherit;
        right: inherit;
        max-height: inherit;
        padding: inherit;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
    }

    .inner .third {
        width: 100%;
        display: inline-block;
    }

    h1 {
        font-size: 3rem;
    }

    .subtitle {
        width: 480px;
    }

    input[type=text] {
        width: 100px;
    }

    button {
        margin-top: 10px;
    }
}

.subtitle {
    margin: 2rem auto 0;
    max-width: 600px;
    color: #FFFFFF;
}

input[type=text] {
    border: none;
    width: 60%;
    height: 40px;
    padding: 5px 5px 5px 15px;
    font-size: 2.5rem;
    border-radius: 10px;
}

button {
    background: #439FE0;
    border: none;
    height: 50px;
    margin-left: 10px;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    border-bottom: #194BA3 3px solid;
    padding: 10px 40px;
}

.nav-bar-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.nav-bar {
    font-size: 2.5rem;
    padding: 10px 20px;
    font-weight: bold;
    max-width: 1200px;
    margin: 0 auto;
    display: inline;
    height: 50px;
}

.logo {
    max-width: 200px;
    display: inline;
}

.right {
    float: right;
    color: gray;
    font-size: 2rem;
    font-weight: normal;
    padding-right: 10px;
}

.unimportant {
    margin-top: 15px;
    color: lightblue;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.validation {
    font-style: italic
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.middle-cover {
    background-color: #95A6C7;
    min-height: 400px;
}
